body {
    background-image: url("ss.jpg");
    background-color: hsl(208, 82%, 67%);
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    text-align: center;
    font-size: 25px;
}

.member-title {
    display: inline-block;
    border: 2px solid black;
    padding: 8px 20px;
    background-color: white;
    border-radius: 35px;
    margin-top: 40px;
    
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 3px solid black;
}
a {
    text-decoration: none;   
    color: white;
    background-color: #24292e;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
}
a:hover {
    text-decoration: underline;
    color: orange;
    transition: 0.3s;
}
.container h1 {
    margin-bottom: 3%;
}
.container h5 {
    margin-top: 3%;
}

